:root {
  /* --crimson: #a1001a; */
  --forestGreen: #0a3e04;
	--darksmoke: #262626;
	--lightsmoke: #a6a6a6;
	--headerFont: 'NeutraText Demi';
	--normalFont: 'MyriadPro Regular';
}
/* Fonts */
@font-face {
  font-family: 'MyriadPro Regular';
  src: url('./fonts/MyriadPro-Regular.eot');
  src: url('./fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('./fonts/MyriadPro-Regular.woff2') format('woff2'),
      url('./fonts/MyriadPro-Regular.woff') format('woff'),
      url('./fonts/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeutraText Demi';
  src: url('./fonts/NeutraText-Demi.eot');
  src: url('./fonts/NeutraText-Demi.eot?#iefix') format('embedded-opentype'),
      url('/./fonts/NeutraText-Demi.woff2') format('woff2'),
      url('./fonts/NeutraText-Demi.woff') format('woff'),
      url('./fonts/NeutraText-Demi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3 {
font-family: var(--headerFont) !important;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 30px;
}
h5 {
  font-size: 24px;
}
h4, h5, h6 {
font-family: var(--headerFont) !important;
}

p, body {
font-family: var(--normalFont) !important;
}
/* End Fonts */
.App {
  text-align: center;
  /* background-color: black; */
  color: white;
  height: 100vh;
}
html {
  background-color: black;
}
a {
	text-decoration: none;
}
a:visited {
	color: white;
}
nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin: 0 1em;
}
nav li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font: 1.3em 'NeutraText Demi';
}
nav li a:hover {
  color: var(--darksmoke);
}
.socialIcons {
  height: 100%;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
}
.socialIcons svg {
  padding: 5px;
  padding-left: 15px;
}
/* .socialIcons svg:hover {
  display: none;
} */
#header {
  background-color: var(--forestGreen);
  height: 60px;
  padding-top: 6px;
}
.headerWrapper {
  margin: 0 auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
}
#mainBanner {
  background-image: url("../src/img/computer-computer-code-screen-monitor-wallpaper-gray.png");
  background-size: cover;
  width: 100%;
  height: 550px;
  text-transform: uppercase;
}
#mainBanner button {
	background-color: var(--forestGreen);
	border: 1px black;
	border-radius: 2px;
	font-size: 1.3em;
	color: white;
}
#mainBanner button h4 {
	margin: 10px 4px 6px;
}
.grayFilter {
  height: 100%;
  width: 100%;
  /* background-color: rgba(159, 159, 159, 0.2); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.bannerContainer {
  text-align: left;
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: flex-start;
}
.bannerTextBox {
  width: 50%;
  padding: 10px;
}
button {
  cursor: pointer;
}
.two-column-row {
  display: flex;
  justify-content: center;
  min-height: 500px;
}
#quote {
	flex: 3;
	background-color: var(--forestGreen);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 2em;
}
#profile-photo {
  flex: 2;
  background-image: url("../src/img/bo-stevens-headshot.jpg");
	background-size: cover;
	background-position: top;
}
.rec-carousel {
	/* background-color: var(--forestGreen); */
	background-image: url("../src/img/team-of-architects.jpg");
	background-size: cover;
	background-position: center;
	min-height: 400px;
}
.rec-carousel-wrapper .rec-dot_active {
	background-color: white !important;
	box-shadow: 0 0 1px 3px var(--lightsmoke);
}
.rec-carousel-wrapper .rec-dot:hover:enabled {
	box-shadow: 0 0 1px 3px var(--darksmoke);
}
.rec-arrow-left:hover:enabled, .rec-arrow-right:hover:enabled {
	background-color: var(--lightsmoke) !important;
}
.rec-arrow-left, .rec-arrow-right {
	background-color: white !important;
}
.rec-carousel-item {
	color: black;
	text-shadow: 0px 0px 4px white;
	font-size: 1.5em;
}
.carouselItem {
	padding: 2em;
}
.skillWrapper {
	width: 60vw;
	background-color: var(--forestGreen);
	border-radius: 8px;
	display: block;
	margin: 0 auto;
	margin-bottom: 40px;
}
.skillWrapper > div {
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 30px;
}
.skillWrapper div:first-child {
	padding-top: 30px;
}
#referrals {
  margin: 20px;
  margin-top: 30px;
  font-size: 60px;
}
.card {
	background-color: var(--forestGreen);
	border-radius: 8px;
	width: 60vw;
	padding: 2em;
	display: block;
	margin: 3em auto;
}
.boxShadow {
  -webkit-box-shadow: 0px 0px 5px 6px var(--darksmoke);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 5px 6px var(--darksmoke);  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 5px 6px var(--darksmoke);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.textShadow {
	text-shadow: 3px 2px 3px #000000;
}
.darkTextShadow {
	text-shadow: 2px 3px 3px #898989;
}

/* .card h3 {
	color: var(--lightsmoke);
} */
.about {
	font-size: 1.4em;
}
.aboutSection {
	font-weight: bold;
	font-family: var(--headerFont);
}
.projectCard {
	width: 100vw;
	min-height: 300px;
	display: flex;
	background-color: var(--forestGreen);
	margin: 40px 0;
	box-shadow: 0px 0px 8px 3px var(--lightsmoke);
}
.projectCard a {
	flex: 2;
	color: white;
}
.projectCard img {
	height: 100%;
	width: 100%;
}
.projectImageWrapper {
	flex: 2;
}
.projectText {
	text-align: left;
	padding: 0 2em;
	flex: 3;
}
.projectText h2 {
	font-size: 44px;
}
.projectText a:hover {
	color: var(--lightsmoke);
}
#contact {
	text-align: left;
	margin-left: 3em;
	width: 80%;
	margin: 0 auto;
	min-height: 72vh;
}
#contact a {
	color: white;
	text-decoration: none;
}
#contact a:hover {
	color: var(--lightsmoke);
}
#contact h3 svg {
	transform: translate(-8px, 10px);
}
#contact h3 {
	transform: translateX(10px);
}
#footer {
  background-color: var(--forestGreen);
  display: flex;
  flex-direction: column;
  padding: 20px 80px;
}